header {
    background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%);
}

.name {
    font-family: 'Stalinist One', cursive;
}

span {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

@media (max-width: 992px) {
    span {
        display: none;
    }
}

a.mainlink:hover{
    text-decoration: none;
}